[2013-03-19 14:49] sromalewski opened #3 "Add option of sharing a photo from iPhone photo gallery"
The plugin works great for images drawn directly within a canvas element, but not for images/photos that are located in the user's photo gallery.

(Aside 1: this is for iPhone, not sure what the behavior is for Android.
Aside 2: I'm using Cordova 2.3.0.  I don't know if the behavior is different for other CDV versions.)

Per the Cordova camera API docs at http://docs.phonegap.com/en/2.3.0/cordova_

[2013-03-22 23:48] donniemceduns opened #4 "Not compatible with android 2.2 -3x"
Lovely plugin,but sadly it did not work on android devices running android 2.2(froyo) -3x .please can you fix this?.

[2013-03-28 20:45] #3 closed, assigned to nobody

[2013-04-06 22:08] #4 closed, assigned to nobody

[2013-04-17 09:48] bartburkhardt opened #5 "Handle cancel event"
This is a great plugin!, but I need the cancel event when a user decides not to launch Instagram.

Also the error event always get invoked

Using iPad IOS 5.1.1

[2013-04-17 16:52] #5 closed, assigned to nobody

[2013-06-13 01:30] mayroncachina opened #6 "error in the installation manual"
Hello, when installing the plugin and run the app on iOS, the following error was displayed on the console:

Aerotur 06/12/2013 22:24:05.653 [1727: c07] **\* Assertion failure in - [CDVConfigParser parser: parseErrorOccurred:], / Users / mayron / Desktop / aerotur / CordovaLib / Classes / CDVConfigParser.m: 67
Aerotur 06/12/2013 22:24:05.654 [1727: c07] **\* Terminating app due to uncaught excepti

[2013-07-04 12:21] #6 closed, assigned to nobody

[2013-08-12 15:57] fabioi opened #7 "Problems using the InstagramPlugin with Phonegap 3.0 and Android"
Hello, I am a novice programmer so I am sorry if the question is very basic :)

I am trying to create a simple android project for sharing a photo to instagram using the plugin, similarly to the one I have seen here (for the iphone).

I created a new project and I have tried to install the plugin with plug man (I had some errors related to the config.xml file, I am using Phonegap 3.0).

To make th

[2013-08-13 14:53] #7 closed, assigned to nobody

[2013-08-16 17:21] fabioi opened #8 "After hitting the back button"
Hi,

I have a problem using the plugin. If I call the share method but then I hit BACK (without completing the photo sharing process to Instagram)  the photo taken continues to be the one in memory in the Instagram 'crop' screen (the first Instagram screen), whether or not a new photo has been taken.

I tried to kill the activity and remove the extra from the intent

this.shareIntent.removeExtra("

[2013-08-19 14:08] #8 closed, assigned to nobody

[2013-10-05 00:44] daverau opened #11 "More detail for install instructions"
It would be very helpful to include the plugman install command for copy/paste ease as well as newbies to plugman. Showing a config code block for manual install would be helpful as well. Are there plans to fill out the help/install section a little more? Thanks!

[2013-10-15 22:39] bartburkhardt opened #12 "Plugin doesn't work in Phonegap 3.x iOS"
I'm migrating to Phonegap 3.x , but your plugin doesn't work anymore.

Can you help?
Bart

[2013-10-16 17:06] vstirbu opened #13 "Cordova/PhoneGap 3.0 support"
Cordova/PhoneGap APIs have changed for both iOS and Android. Upgrade plugin to support 3.0.
- [x] iOS version
- [x] Android version
- [x] Improved install documentation

[2013-10-16 17:08] #12 closed, assigned to nobody

[2013-10-20 20:03] #11 closed, assigned to nobody

[2013-11-25 13:44] djdiljit561 opened #15 "problem in native side in android"
File parentDir = this.webView.getContext().getExternalFilesDir(null);
in this line parentDir is going to be null.
why????
plzzzz help me to resolve this error

[2013-12-18 20:32] #13 closed, assigned to nobody

[2014-01-10 11:04] #15 closed, assigned to nobody

[2014-01-22 01:09] kimlima opened #17 "cordovaRef undefined"
After the last code commit, i'm getting an exception for undefined cordovaRef in www/CDVInstagramPlugin.js:45

In the last commit, this line was removed:

[code]

I'm not sure if it's a bug or if I'm doing anything wrong.

[2014-01-22 05:31] #17 closed, assigned to nobody

[2014-01-25 14:53] donniemceduns opened #18 "Phonegap Build"
Awesome Plugin.Please submit to phonegap Build.
Thanks :-)

[2014-01-28 05:47] #18 closed, assigned to nobody

[2014-02-11 17:52] qamooos2 opened #19 "how i can do that with vedio??"
hello how are u ??

its possible to do that with vedio? (mp4 ) ??

please just tell me

I'm trying to do that but i cannt

thank u for great plugin

[2014-02-11 18:00] #19 closed, assigned to nobody

[2014-02-11 18:22] qa7feeya opened #20 "how to use that with vedio mp4 ?"
Hi

Thank u for that script

How I can use that with vedio ? Mp4

[2014-02-12 10:34] #20 closed, assigned to nobody

[2014-02-25 08:54] kmazla opened #22 "Crashes on iOS6"
Plugin seems to crash when running on an iPad 2 with iOS6. Will try to get more info.

[2014-03-03 20:34] #22 closed, assigned to nobody

[2014-04-07 22:46] confile opened #23 "Distinguish between Share to Instagram and EyeEm or others?"
Is it possible to distinguish if you will share to Instagram or EyeEm?

It would be great to have functions:

[code]

[2014-04-08 09:58] #23 closed, assigned to nobody

[2014-04-30 10:29] vstirbu opened #24 "Add caption when sharing"

[2014-05-02 16:05] #24 closed, assigned to nobody

[2014-05-06 19:45] vstirbu opened #26 "Crash on iOS6"

[2014-05-06 19:50] #26 closed, assigned to nobody

[2014-07-01 15:23] micheltobon opened #27 "Instagram Login"
Hello Vlad, I am wondering if it is possible to extend your excellent plugin (congratulations BTW) to do 2 things:

1: Send a text message to Instagram so that the user already has some default text to publish and
2: Login to Instagram via the active session on the mobile device (like all applications do with facebook)

I hope you can help me with this, best regards!

[2014-07-02 15:00] #27 closed, assigned to nobody

[2014-07-22 21:03] pkayfire opened #28 "Share Caption on Android"
Hey @vstirbu, thanks for this amazing plugin! Would you mind explaining the cause of why sharing captions on Android doesn't work? Would love to take a crack at fixing it. Thanks!

[2014-07-22 23:34] #28 closed, assigned to nobody

[2014-07-30 14:39] senthilmurugan-tag opened #29 "Sharing screenshot image to Instagram"
Our functionality is take the screenshot of current screen and share this image to Instagram.

We are using this https://github.com/gitawego/cordova-screenshot for taking screenshot. It will return the screenshot image path only in android.
We want to use your plugin for android only. How can we share this taken screenshot image to Instagram in android.

What is the value we should use for canvasI

[2014-11-18 08:24] #29 closed, assigned to nobody

[2014-11-20 05:13] chris-cooper opened #31 "Share Cancelled?"
I'm getting "Share Cancelled" on what seems like a valid share in Android.  This even happens from the [demo app](https://github.com/vstirbu/instagramplugin-example) if I add a check on err.  The share seems to go through OK and I'm left on the home screen of Instagram showing the new photo in the feed.  I then hit the back arrow to get back to the calling app, and I think this is being interprete

[2015-03-24 20:48] vstirbu commented on #31
anything new on this one?

[2015-04-27 18:07] hannahcin opened #34 "Facebook app appears in list"
Hi there,

iPhone 6, iOS 8.3

We've found that when the Facebook app is installed, the app appears in the share list. This is problematic since there is much overlap in our users who have both Instagram and Facebook installed on their phones.

![image](https://cloud.githubusercontent.com/assets/8988510/7354098/963b3788-eccd-11e4-909a-da2a3bb483cc.png)

[2015-04-27 18:10] vstirbu commented on #34
Seems to be the same as #23

[2015-04-27 18:21] hannahcin commented on #34
Yes... Facebook is more problematic though, since many Instagram users overlap with Facebook users. Any way this can be looked into?

[2015-04-27 18:27] vstirbu commented on #34
Not from the app that shares the image. The plugin is fully compliant with Instagram's developer [documentation](https://instagram.com/developer/mobile-sharing/iphone-hooks/) but is seems that now even Facebook does not follow that recommendation... :(

[2015-04-28 17:49] vstirbu commented on #34
I'll close the issue as currently there is not technical solution for this.

[2015-04-28 17:49] #34 closed

[2015-05-15 23:46] rogercrandall opened #35 "Crops when installed from Google Play"
The plugin works great when testing my app. Now I have the app live on the Google play store and when it is installed from there, it crops the images in half. Only showing the top half of the image. Any thoughts on why this would be happening?

[2015-05-17 16:27] vstirbu commented on #35
anyone else experiencing this behaviour?

[2015-06-03 12:31] firoze commented on #31
Confirmed to be happening today. one possible reason could be:

The Intent to share seems to be one-way...because once you share the photo, it redirects you to Instagram's main feed. To return to my app (where the plugin initiated the share), I either back out of the Instagram app altogether, or via the "recent apps" screen...

[2015-06-03 12:39] firoze commented on #31
I guess [they updated](https://instagram.com/developer/mobile-sharing/android-intents/) the way their Intents work because they don't talk about `RESULT_OK` or `RESULT_CANCELED` anymore...

[2015-06-03 13:42] micheltobon commented on #31
Hello mates, I can confirm this happening... the intent is not returning RESULT_OK in ANY case, and Instagram is directing the user to their feed automatically, what I did to create a "workaround" was to launch a "local notification" to suggest the user to come back to our application since he receives a prize for posting certain hashtags, but of course I had to do a server-side query to Instagram

[2015-06-14 02:01] rogercrandall opened #36 "Ampersand"
When sharing it changes & to & amp ; Anyone know a way around this?

[2015-06-24 06:47] zhock opened #37 "jpg to Base64 dont work"
After struggling so long, i finally found the solution! my photos .jpg(like https://farm9.static.flickr.com/8774/17224261904_3608efc466_z.jpg) converted in base64 through PHP and than changed into InstagramPlugin with Ajax.

Problem: .jpg base64 photos can't be shared on instagram.

Solution: i changed them into data:images/png (data:image/png;base64,/9j/4AAQSkZJ...) in order to fool instagram and

[2015-06-24 06:52] waholleyiv commented on #37
I don't understand what your problem nor solution was; Can you clarify?

[2015-06-24 11:14] rodrigograca31 commented on #35
I a related problem, it was not because of this plugin...
It was because of the way I was picking the image, the plugin I was using was making a temporary copy, than deleted it, because of that if the phone took a bit more time the image would be deleted and sometimes my app would only get half of it...

[2015-06-24 11:21] rodrigograca31 opened #38 "Sometimes it fails to open Instagram and doesn't report any error."
Not sure why, I'm still trying to figure it out...

I have the following code:
[code]
Sometimes Instagram doesn't open to share the image and there is no error...

[2015-06-25 20:08] vstirbu commented on #35
Thanks for sharing this information here!

The plugin does not delete the image till next time a image is shared, so this could not be the reason of getting the half image in our case.

[2015-06-30 03:44] gragland opened #40 "Crashing on iOS 8.3 when share option tapped"
I'm seeing intermittent crashes when selecting the Instagram share option from UIDocumentInteractionController share panel. Sometimes it works fine, sometimes it crashes. I've included the relevant section of the crash report below. Anyone have any ideas as to what could be causing this?

Exception Type:  EXC_BAD_ACCESS (SIGSEGV)
Exception Subtype: KERN_INVALID_ADDRESS at 0x0000000000000110
Trigge

[2015-07-01 22:46] gragland commented on #40
Turned out this was caused by the share being triggered twice (a bug was causing my share button to call the plugin twice when tapped). Closing this now.

[2015-07-01 22:47] #40 closed

[2015-07-04 09:38] kunalnagar commented on #35
@vstirbu I'm facing a similar issue on iOS. Here it is:

When I send an image to Instagram via a cordova app, I don't get the pan-around option (in Instagram) that will allow me to select part of the image. Instead, it just crops part of the image and displays it (not sure how that is happening either).

[2015-07-06 07:19] vstirbu commented on #35
@kunalnagar You could get more exposure if you open a new issue as your situation is not the same as on this topic.

[2015-07-06 07:21] vstirbu commented on #37
@zhock Are you getting the image from an external service?

[2015-07-06 12:11] kunalnagar opened #41 "No Pan-around option in Instagram App"
When I send an image to Instagram via a cordova app, I don't get the pan-around option (in Instagram) that will allow me to select part of the image. Instead, it just crops part of the image and displays it (not sure how that is happening either).

[2015-07-06 12:12] kunalnagar commented on #35
@vstirbu #41

[2015-07-08 10:05] #37 closed

[2015-07-08 10:06] vstirbu commented on #41
iOS, Android, or both?

[2015-07-08 17:20] kunalnagar commented on #41
both

[2015-07-23 02:55] daksamedia opened #42 "Authenticate"
How to authenticate login use Instagram API?

[2015-07-23 03:55] micheltobon commented on #42
What I use in this case is login via open graph by using an inapp browser

[2015-07-23 09:03] daksamedia commented on #42
do you have a sample for this case ??

[2015-07-23 09:08] vstirbu commented on #42
The purpose of this plugin is to share the image via the native Instagram application (iOS or Android), and _not_ via the Instagram HTTP API.

There is a discussion about login in to Instagram via the HTTP API on the [chat channel](https://gitter.im/vstirbu/InstagramPlugin). Scroll to the beginning.

[2015-07-23 09:17] daksamedia commented on #42
Please kindly reply message on that site. Thank you :) @vstirbu

[2015-07-23 13:48] micheltobon commented on #42
@daksamedia  Yes, I have an example:

[code]

[2015-07-23 13:48] micheltobon commented on #42
you  include this element in a new JS file, then you call it and add the proper events and return functions, it's quite simple, actually

[2015-07-23 14:04] daksamedia commented on #42
How do I include client key, secret key & scope??

[2015-07-23 16:30] micheltobon commented on #42
you have to go to the instagram developer page and register your application

[2015-07-23 23:13] daksamedia commented on #42
where do I put those keys in?

[2015-07-25 08:47] daksamedia commented on #42
@micheltobon could you tell me where should I put my client key, permission, etc with your source code?

[2015-07-25 20:16] micheltobon commented on #42
@daksamedia sorry for the late reponse.
Here is the situation, as you can see in line 12 (var authorize_url = baseURL + "igLogin.php";)
here is where we send the user to OUR server, to a script called idLogin.php so the variable baseURL must be changed for the name of your server (www.myserver.com/igLogin.php

in the igLogin.php file I do a few things:

1. check if the $_GET is empty
2. if the $_G

[2015-07-26 14:54] daksamedia commented on #42
As you can see on your source (Line 9) - first source -
Do I need to fill the blank for redirect URL?

[2015-07-26 15:07] micheltobon commented on #42
no, not really... it's not used in this case, because you are using the redirection to the PHP file

[2015-07-26 15:53] daksamedia commented on #42
I'll try this one.
Is it true, if I just add this on html?
<button="login-ig" onclick=" InstagramInAppBrowser.login();">LOGIN VIA INSTAGRAM</button>

[2015-07-26 17:59] micheltobon commented on #42
well yes, but the right way to call it is with a callback function, something like this:
[code]

[2015-07-27 09:30] daksamedia commented on #42
is this works on your app?

[2015-07-27 13:41] micheltobon commented on #42
of course... 100%

[2015-08-02 20:15] vstirbu commented on #35
reopen if still an issue

[2015-08-02 20:15] #35 closed

[2015-08-02 20:15] #38 closed

[2015-08-02 20:25] kunalnagar commented on #41
@vstirbu any update on this?

[2015-08-07 06:31] pranaydutta89 opened #43 "CordovaPlugin: Attempted to send a second callback for ID: Instagram612896362"
if i run the plugin in a demo app(the share function) it works , but when i integrate to the original its not showing any action ,neither error nor success(in share function) but t he isInstalled function is getting called and working correct, and in debug log i am getting this error

08-07 11:51:09.210 25214 25316 W CordovaPlugin: Attempted to send a second callback for ID: Instagram612896362
08-

[2015-08-07 22:09] vstirbu commented on #43
Pretty hard to see what goes wrong without seeing some code... Can you try to reproduce the problem extending the example app?

[2015-08-08 03:18] pranaydutta89 commented on #43
well thanx for the comment  , however the problem was something different i was  truncating the data:image/png part by a regex and after inspecting your code found that you where also doing the same thing, now Instagram app is opening up, but it's only sharing part of image ,not the full image can you please help me with this

[2015-08-08 08:51] vstirbu commented on #43
can you post a screen capture? it might be similar to #35.

[2015-08-09 10:16] benjick commented on #27
Isn't this possible now in Android? I see SquarePic inserts a hashtag and mention to their app whenever used on Android

[2015-08-10 00:43] rodrigograca31 opened #44 "The caption is not working with the latest Instagram version...."
Maybe something change... and I noticed that the caption was not working...

Steps:

[code]
Add the following code inside `$ionicPlatform.ready(function() {`

[code]
and
[code]
inside `<ion-content></ion-content>`

Then do: `ionic run`

Share it on Instagram and notice that the "hey!" string is not there....

Thanks for the plugin/help!

[2015-08-10 07:30] vstirbu commented on #44
Yep, expected issue... Caption on Android uses an undocumented feature, so we are the mercy of Instagram to keep it or not. :(

[2015-08-10 08:35] pranaydutta89 commented on #43
i found the problem  now i am able to share the whole image if image is in png format for jpeg its truncating the image,and the callback is also not working it always gives me as shared failed

[2015-08-10 09:04] vstirbu commented on #43
Thanks for the update. I'll update the documentation to indicate that the image should be in png format.

It was already noted in another issue that on Android the Instagram application does not report if the action was successful.

[2015-08-10 09:06] rodrigograca31 commented on #44
:disappointed_relieved:
Any way that this can be fixed?
Can I help in any way?

[2015-08-10 09:11] vstirbu commented on #44
Not that I'm aware of. The plugin sets the caption text in the [intent](https://github.com/vstirbu/InstagramPlugin/blob/master/src/android/CDVInstagramPlugin.java#L118), but the value is ignored by the Instagram application.

[2015-08-10 09:37] rodrigograca31 commented on #44
"Removing pre-filled captions from mobile sharing" http://developers.instagram.com/post/125972775561/removing-pre-filled-captions-from-mobile-sharing

They broke half of my App.... Not cool! ;(

[2015-08-10 09:47] #44 closed

[2015-08-10 09:47] #43 closed

[2015-08-10 09:52] pranaydutta89 commented on #43
if possible can you please keep as a promise sort of callback

[2015-08-10 09:56] vstirbu commented on #43
If you use angular/ionic, you can fins a wrapper in [ngcordova](http://ngcordova.com/docs/plugins/instagram/).

[2015-08-10 10:05] #36 closed

[2015-08-10 10:06] pranaydutta89 commented on #43
i used it its giving me CDEP error,there is some bug with ngcordova anyways thanx for reply

[2015-08-10 21:08] #42 closed

[2015-08-19 21:18] vstirbu commented on #44
there is an interesting approach tried [here](https://github.com/seanconormcdonnell/InstagramPlugin/commit/43b9bab1cd25cb495aabf87fa856a2cd48b2d7fc), although I'm concerned about the usability...

[2015-08-20 08:29] rodrigograca31 commented on #44
Oh.... I forgot to post this here... I thought about doing that and then saw an application doing it:
![](http://i.stack.imgur.com/LLZkj.jpg)

[2015-08-20 19:53] seanconormcdonnell opened #45 "Copy caption to clipboard"
as outlined in <a href="http://developers.instagram.com/post/125972775561/removing-pre-filled-captions-from-mobile-sharing">this</a> blog post Instagram no longer excepts pre-filled captions. While the plug in is still working as is, it could be improved with a copy/paste function. I have forked this repository and edited it so now the caption is copied to the clip board. However I am not familiar

[2015-08-24 17:29] vstirbu commented on #45
There are apps that use this technique to overcome the change in behaviour of Instagram app (see an example in #44 ). Would it be of interest to add this feature to the plugin.

Obviously the user interface side of how to instruct the users of your app to paste the caption in Instagram is out of scope. Basically, the plugin just copies the caption and we can use `share` with three arguments for it

[2015-08-25 12:12] rodrigograca31 commented on #45
Good idea! :+1:

[2015-08-25 12:14] rodrigograca31 commented on #45
I've used this plugin for copying to the clipboard: https://github.com/VersoSolutions/CordovaClipboard

[2015-08-25 12:44] vstirbu commented on #45
Thanks for the pointer. Suits perfectly our needs.

[2015-08-25 16:45] #45 closed

[2015-09-01 16:13] manuelpaulo commented on #44
"This is a non-breaking change: existing mobile apps that utilize pre-filled captions will continue to be able to use this flow to share media through the Instagram apps"

What does this means? Can we update the app, as long as it's the same app_id?

[2015-09-01 16:16] rodrigograca31 commented on #44
If you read the rest... "but now Instagram will ignore the caption text."

In other words, you can send them the caption, they will ignore it and not error will be displayed....

[2015-09-02 02:55] manuelpaulo commented on #44
I have just updated the Instagram app and it works as expected on my app that I have updated last week... (sharing images only)

[2015-09-13 12:01] kunalnagar opened #46 "Not supporting new Portrait/Landscape formats"
The image is still cropped to a square when sent to the Instagram app. There is no option to pan/zoom out to include the entire image.

[2015-09-17 01:42] ErikAugust opened #47 "iOS 9"
Looks to not be available in iOS9 - any ideas? Thanks.

[2015-09-18 17:45] yodarjun commented on #47
+1 Has anyone been able to get this working in iOS9? It works perfectly in 8.4. Any help would be much appreciated. Thanks.

[2015-09-22 19:16] westonganger opened #49 "Share Video feature"
Is there any chance at sharing videos to instagram.

[2015-09-28 20:25] sfrdmn commented on #47
It should work. iOS 9 changed how custom URL are handled: you need to explicitly white list custom URLs e.g. `instagram://` for this plugin to work

You can modify your `*-Info.plist` file in `/platforms/ios`, but that's a generated file. Alternatively, I think you can make a custom plugin which generates the correct values in the .plist file

See [link](http://awkwardhare.com/post/121196006730/qu

[2015-09-28 20:59] vstirbu commented on #47
We can handle this from within this plugin by adding a [config-file](http://cordova.apache.org/docs/en/5.0.0/plugin_ref_spec.md.html#Plugin%20Specification) element in the iOS section of the [plugin.xml](https://github.com/vstirbu/InstagramPlugin/blob/master/plugin.xml#L39).

[code]
We just need the relevant key and value.

[2015-09-28 21:03] vstirbu commented on #49
Only on [Android](https://instagram.com/developer/mobile-sharing/android-intents/) at this time.

[2015-09-28 21:13] sfrdmn commented on #47
Oh right :P

This works for me:
[code]

[2015-09-28 21:18] sfrdmn commented on #47
However, previous values in `LSApplicationQueriesSchemes` should not be overwritten. Not sure how to do that.

[2015-09-30 05:28] vstirbu commented on #47
Looking at plugman source code, and it seems that when the plist is updated all values are merged instead of overwritten. So, I would say that just adding the snippet to the plugin.xml is the right thing to do to fix the functionality for iOS9.

@sfrdmn, would you make a pull request?

[2015-10-01 17:04] #47 closed

[2015-10-18 12:17] onegreek opened #51 "iOS9 support"
Hi,
The plugin is working smooth on previous version of iOS, but once upgrade to iOS9 it keeps returning installed false even the Instagram app is already installed.
Any idea about that?

[2015-10-18 12:37] onegreek commented on #51
I think it's solved now. I was using an old version (0.4.1), but once updated the plugin (0.5.2) it's ok.

[2015-10-18 12:37] #51 closed

[2015-11-12 18:53] leonardofrmello opened #53 "include caption"
It has possibility to include caption?

My code, i use var caption and it was not possible

 function shareOnInstagram(){
            var caption = "RioMar Natal"
            Instagram.share('canvasDrawImage', caption, function (err) {
                if (err) {
                    //alert(err);
                } else {
                    //alert('imagem compartilhada com sucesso');

[2015-11-12 19:50] vstirbu commented on #53
Cannot be done. Instagram removed that feature from their apps. More details here: http://developers.instagram.com/post/125972775561/removing-pre-filled-captions-from-mobile-sharing.

[2015-11-12 19:50] #53 closed

[2016-01-26 23:23] fransyozef opened #54 "Instagram sharing sometimes crashes"
I'm using the cordova Instagram plugin .. sometimes it works .. but sometimes it quits and I get the following error:

2016-01-26 12:44:27.150 myapp[13566:5763386] *** Assertion failure in -[_UIOpenWithAppActivity performActivity], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKit/UIKit-3512.30.14/UIDocumentInteractionController.m:408
2016-01-26 12:44:27.156 myapp 0x1821f899c 0x186bfefb0 0x186

[2016-01-27 07:05] vstirbu commented on #54
The interaction controller is a property of the class so it is handled as in the link that you included in the forum post.

Are you using the plugin in  swift application? Can you make a stripped down version of your application that can reproduce the issue?

[2016-01-27 13:23] fransyozef commented on #54
Well I'm using it in Ionic (ngcordova) .. I will try to strip down my app :)

[2016-01-28 11:54] ilgianfra opened #55 "Error: undefined is not an object (evaluating 'data.slice')"
I want to share one image in my file system (file:///var/mobile/Containers/Data/Application/88F85219-C19E-452D-B5F0-11D9438DF5E5/Library/NoCloud/1453894916583.jpg)
then I call:
`$cordovaInstagram.share(getBase64Image(index), null)
`
the function getBase64Image:
[code]

My console.log of dataURL looks like a real base64 image but I still get this error:

Am I missing something ?

[2016-01-28 12:13] vstirbu commented on #55
You are actually calling the `share` from ng-cordova [instagram plugin](https://github.com/driftyco/ng-cordova/blob/master/src/plugins/instagram.js#L10). Try like this:

[code]

[2016-01-28 13:54] ilgianfra commented on #55
Thank you!

[2016-01-28 13:54] #55 closed

[2016-02-02 19:23] softBarbarian opened #56 "No know class method for selector error"
i am running cordova-ios 4.0.1 and when this plugin is added it throws following error:
[code]
here is my info:
[code]

[2016-02-02 20:25] vstirbu commented on #56
When using the plugin in an ionic/angular application you have to use the corresponding ng-cordova plugin. Check #55 to see if you are in the same situation. If not, could you share the code where you use the plugin.

[2016-02-03 00:54] funkjedi commented on #56
Just posted a pull request with a fix that worked for me. Apparently `dataFromBase64String` was deprecated in `3.8.0` and removed in `4.x.x`.

[2016-02-03 00:55] softBarbarian commented on #56
@funkjedi NICE!!!!!!!

[2016-02-03 04:08] #56 closed

[2016-02-08 15:39] ne0c0de opened #58 "Warning: Attempt to present on whose view is not in the window hierarchy"
Hi

I'm trying to use Instagram plugin on IAB (i mean i'm trying to use it on a window that i opened with window.open)

When i try to share on Android it's working without any problem.

But when i try to make a share on iOS (on latest version) i got this error:

Warning: Attempt to present <_UIDocumentActivityViewController: 0x13700c600> on <MainViewController: 0x136540fd0> whose view is not in th

[2016-02-09 19:18] jordiv3d opened #59 "Not working on android 6"
Hi, I have succedfully integrated the plugin on android, and tested on android 5 where it's working ok, bit not on a nexus5 running android 6, is there any known workaround ?
Thanks in advance

[2016-02-09 19:29] vstirbu commented on #59
Can you provide more details? Thanks!

[2016-02-10 08:17] jordiv3d commented on #59
Sorry, it was my fault, as I uninstalled instagram first, and then I did not open it once reinstalled, so I haven't the permit to access images from instagram.

[2016-02-10 08:36] vstirbu commented on #59
so, it is working? can the issue be closed?

[2016-02-10 08:37] jordiv3d commented on #59
Yes , it's working so can be closed. Thanks for that great plugin !!

[2016-02-10 08:44] #59 closed

[2016-02-11 10:32] ne0c0de commented on #58
any chance that you reproduce it?

[2016-02-11 11:42] vstirbu commented on #58
Can you replicate the issue using the sample application using your environment?

[2016-02-11 13:48] ne0c0de commented on #58
Sure, i will prepare it and give a link of it

[2016-02-11 14:55] ne0c0de commented on #58
Here's the sample cordova application that i created:

https://www.dropbox.com/s/g4c72huf8bvecyw/sample.zip?dl=0

It's including Cordova InAppBrowser plugin which is accessible from https://github.com/apache/cordova-plugin-inappbrowser and your Instagram Plugin.

You should run this on a real iphone device that have instagram application installed to reproduce the issue. Open the application and t

[2016-02-11 17:14] ne0c0de commented on #58
i just find a workaround for the problem:

                  ref.close();
                  setTimeout(function(){
console.log("before instagram lastUrl: " + lastUrl);
            				Instagram.share('insta', "", function (err) {
            					if (err != null && (err == "iini" || err.indexOf("No Activity found to handle Intent") != -1)){
            						console.log("instagram is not installed

[2016-02-14 14:59] socrates3 commented on #54
I also experience a crash:

`Error in Success callbackId: Instagram1576996357 : TypeError: Cannot read property 'then' of undefined
cordova.js:310 Error in Error callbackId: Instagram1576996358 : TypeError: callback is not a function
cordova.js:312 Uncaught TypeError: callback is not a function`

The application installed on Android 6, Google Nexus
Development environment
`Cordova CLI: 5.4.1
Gulp

[2016-02-15 06:22] ne0c0de commented on #58
any chance that you could test it?

[2016-02-25 10:54] spottuit commented on #31
If you have the error "Share Canceled" the problem can also be that you haven't shared a photo before on Instagram. You should tap on the camera inside the instagram app. Instagram will then ask for access to your photos. After you accepted that the error could be gone.

[2016-02-27 22:22] sky-code commented on #49
ios implementation https://github.com/vstirbu/InstagramPlugin/pull/60

[2016-03-03 04:03] okonon opened #61 "Question: is there a way to get user's instagram feed?"

[2016-03-03 06:25] vstirbu commented on #61
This plugin only uses the [mobile sharing](https://www.instagram.com/developer/mobile-sharing/) feature exposed by the native application. The user feed is not included.

[2016-03-04 17:01] MT-- commented on #49
Hoping to implement this as soon as it is merged!

[2016-03-05 00:43] sky-code commented on #49
As you can see this feature require additional testing and maybe some changes, could you please do it if you can

[2016-03-05 19:03] MT-- commented on #49
I can do some testing when I am ready to test my new project on iOS. I am currently just developing on Android, but I will be sure to work this out when I get to that point.

[2016-03-08 20:44] #61 closed

[2016-03-15 23:11] rodrigograca31 opened #62 "Improve performance - AsynTask - Android"
The base64 decode is a bit slow....
I'm not and expert in Java, but I think this plugin could/should use an AsynTask...

[https://www.youtube.com/watch?v=jtlRNNhane0](https://www.youtube.com/watch?v=jtlRNNhane0)

**What's your opinion?**

[2016-03-16 05:49] vstirbu commented on #62
could provide a slight improvement, although the main bottleneck in this case is transferring the base64 encoded string from the webview to native. worth experimenting...

[2016-03-16 08:00] Bart-Holland commented on #31
Same issue here, going back with the back-arrow will result in a 'Share Cancelled' error. Using Android 4.4.2, with the latest instagram app.

[2016-03-16 09:12] vstirbu commented on #31
The result of the share operation is not reliable because the Instagram app does not return the correct response.

I'm going to lock this conversation until there is a change in Instagram app behaviour. If a future version of Instagram will fix it the plugin will handle it.

[2016-03-16 09:42] Bart-Holland opened #63 "Caption does not enter clipboard android 4.4.2"
So I am using Android 4.4.2 with the latest cordova and the latest instragram app.
In my app I take a picture and then add this to instagram using Instagram.share();

Of course I also would like to set a capture and looking into the readme file I would expext that I can paste the caption from the clipboard. However the data does not seem to enter the clipboard.
Might just be that I am doing someth

[2016-03-16 09:49] vstirbu commented on #63
We are using an [external plugin](https://github.com/Visigo/CordovaClipboard) for [copying](https://github.com/vstirbu/InstagramPlugin/blob/master/www/CDVInstagramPlugin.js#L35) to clipboard.

The use of share seem right although I'm not sure where `this.result` is coming from.

[2016-03-16 09:51] vstirbu commented on #63
Can you check what version of CordovaClipboard plugin is installed by cordova-cli?

[2016-03-16 09:52] Bart-Holland commented on #63
this.result is comming from the solution entered here:
https://github.com/vstirbu/InstagramPlugin/issues/29

[2016-03-16 09:59] vstirbu commented on #63
Can you add a success and error callback [here](https://github.com/vstirbu/InstagramPlugin/blob/master/www/CDVInstagramPlugin.js#L35) to see what is going on there?

[2016-03-16 10:01] Bart-Holland commented on #63
I just downloaded the latest clipboard plugin, seems tge build is faling on the clipboard plugin.
Will have a look at the callback. though instagram seems always to return an error...

[2016-03-16 10:41] Bart-Holland commented on #63
Did a new download:

cordova plugin add https://github.com/VersoSolutions/CordovaClipboard

This des not create errors on building, seems to be version 0.1.0
It seems to work now!

[2016-03-16 10:41] rodrigograca31 commented on #62
@vstirbu You are saying that the "slowness" I'm experiencing is in the mostly in the transfer process?

[2016-03-16 10:45] #63 closed

[2016-03-16 12:38] vstirbu commented on #62
this is a relevant discussion: http://stackoverflow.com/questions/35875828/determining-throughput-speed-cordova-bridge-any-insights. the question is iOS specific but still relevant...

[2016-03-16 12:45] rodrigograca31 commented on #62
I tried something similar to that in the past...
I basically printed a bunch of timestamps to the Android logcat to find where it was taking most of the time....

[2016-03-16 16:16] vstirbu commented on #62
can you instrument this [line](https://github.com/vstirbu/InstagramPlugin/blob/master/src/android/CDVInstagramPlugin.java#L88) to see what is the delay on decoding the base64 image?

[2016-03-16 16:22] rodrigograca31 commented on #62
Not right now, but I can do it later or this weekend....

[2016-03-19 15:22] rodrigograca31 commented on #62
I've made the following modification to the library:
[code]
(added `tsLong` and `Log.d`)
Result:
[code]

I've also added some logging to the javascript (before and after calling the library):
[code]

Conclusion: This timings are actually good (1 sec), but:

1. They are from my OnePlus One (good phone)
2. Testing on a clean Moto G (1st gen) also took about 1 second.
3. Testing with a 1000 x 1000 ca

[2016-03-21 00:59] sky-code commented on #49
Hello, please read latest messages here https://github.com/vstirbu/InstagramPlugin/pull/60 and help us implement this feature

[2016-05-24 17:46] billy124 opened #64 "TypeError: Cannot read property 'slice' of undefined when passing image server path"
Hey guys,

Am passing in a path to the image on my server, however am getting this error :

 Object.Plugin.share (file:///android_asset/www/plugins/cordova-instagram-plugin/www/CDVInstagramPlugin.js:93:18)

I am using ionic,

code

$cordovaInstagram.share('https://pathtomyimage.com/image.png').then(function () {
                //success
            }, function (err) {
               //fail

[2016-05-24 19:30] vstirbu commented on #64
Would this #29, in conjunction with [file transfer](https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-file-transfer/index.html#download) plugin fix your issue?

The rationale is to use as much as possible other plugins instead of turning this into something mega. Of course in the long term this flow can be bundled in this plugin.

[2016-05-31 09:00] zh-wowtv opened #65 "Doesn't work"
Here are what I did:

1. Install ngCordova
2. Install this plugin (My cordova is 6.1.1)

Source code:

    $cordovaInstagram.share(imgData, "Test").then(function() {
      alert('worked')
    }, function(err) {
      alert(err)
    });

The instagram app is installed at my iPhone. When I rung this app in my device and call this function, nothing happened. I checked the log in Xcode console:

[code

[2016-05-31 09:25] vstirbu commented on #65
can you catch that promise to see what is the error? The angular adaptation is done in ngCordova and seems that there is the error.

[2016-06-08 19:17] sky-code commented on #49
when #60 will be merged, sharing video will be posible on ios 8+ based on Photos Framework and PHAsset.
I use this feature on my project, as example:
[code]
This func take a path to video in my application tmp folder, save it to sharedPhotoLibrary and return local identifier string, which is similar to "24320B60-1F52-46AC-BE4C-1202F02B9D00/L0/001", when you have local identifier pass it to __Insta

[2016-06-09 20:10] #54 closed

[2016-06-09 20:11] vstirbu commented on #54
add more details and reopen if still the case

[2016-06-09 20:13] vstirbu commented on #65
any updates on this?

[2016-06-10 01:17] zh-wowtv commented on #65
I fixed the issue by using cordova plugin directly instead of using ngCordova. Thanks, @vstirbu

[2016-06-10 04:18] #65 closed

[2016-06-19 19:54] roysG opened #66 "Can i add specific location to message when user post image?"
Hi,
As i know i can added to message of user specific tags i choose.
There is any option to add also specific location to message?

[2016-06-20 08:44] vstirbu commented on #66
You do mean geolocation when using location, right?

The plugin supports only the features offered by the Instagram native app, which at this point are limited only to sharing images or videos.

[2016-08-08 15:44] dmarcos89 opened #67 "Share instagram on iPad"
Hi, i am developing a ionic app and your plugin seems great!
I installed instagram on my iPad, and when attempting to share a photo, this is what i get on Xcode:

`
2016-08-08 12:36:06.231 HelloCordova[1188:339409] THREAD WARNING: ['Instagram'] took '1335.712158' ms. Plugin should use a background thread.
`

Any idea?

Thanks in advance for your help.

[2016-08-08 17:10] vstirbu commented on #67
Any info about the iPad version and the image size?

[2016-08-08 21:43] dmarcos89 commented on #67
Using an ipad 2 wifi, jan 2013.
ios 9.3.4

Thanks again!

[2016-08-09 05:40] #64 closed

[2016-08-09 05:40] #66 closed

[2016-08-16 20:53] roysG opened #69 "Terminating app due to uncaught exception 'NSInternalInconsistencyException'"
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'UIDocumentInteractionController has gone away prematurely!'
*** First throw call stack:
(0x18278ae38 0x181deff80 0x18278ad08 0x183110124 0x187f76c20 0x1881aa268 0x187c31854 0x187c34a4c 0x187a04fd8 0x187910014 0x18790fb10 0x18790f998 0x18527da20 0x1002c9a3c 0x1002cf4e4 0x182740dd8 0x18273ec40 0x182668d10 0x18

[2016-08-17 20:56] vstirbu commented on #69
The PR does not have enough information to identify what went wrong. Can you replicate the behaviour in the sample [app](https://github.com/vstirbu/instagramplugin-example)?

[2016-08-18 05:29] roysG commented on #69
Never mind i remove and install again and not it works :)

[2016-08-18 05:31] #69 closed

[2016-08-22 07:15] darpanvithani opened #70 "Share on Instagram is not working."
**I am passing object with byte code of data and some static caption info. below is output when I run $cordovaInstagram.share($scope.image.data, $scope.image.caption).then(function() {}, function(err) { }); Also I have tried without caption, still not working.**

Below are the error logs.

TypeError: Cannot read property 'slice' of undefined
at Object.Plugin.share (http://192.168.51.2:8100/plugins

[2016-08-22 12:21] vstirbu commented on #70
the `canvasIdOrDataUrl` argument type is `string`. it is either the id of a canvas element or a data url similar to [canvas.toDataUrl](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL).

[2016-08-22 12:24] darpanvithani commented on #70
I am passing value like below in $scope.image.data
// "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNby
// blAAAADElEQVQImWNgoBMAAABpAAFEI8ARAAAAAElFTkSuQmCC"

is this okay? or do I need to pass something else?

[2016-08-22 12:27] vstirbu commented on #70
that should be fine

[2016-08-22 12:28] darpanvithani commented on #70
but its not working.

[2016-08-22 12:30] vstirbu commented on #70
can you use that value in the [sample app](https://github.com/vstirbu/instagramplugin-example)?

[2016-08-22 12:33] darpanvithani commented on #70
let me try once again. and caption can create any problem?
If yes, then I can try without caption.

[2016-08-22 12:33] vstirbu commented on #70
if you use it in an ionic app via [ng-cordova](https://github.com/driftyco/ng-cordova/blob/master/src/plugins/instagram.js), you need to pass to share an object:

[code]

[2016-08-22 12:43] darpanvithani commented on #70
![image](https://cloud.githubusercontent.com/assets/18464613/17855040/05aadf4a-6894-11e6-8ab4-a88401d7628f.png)

I got this kind of output.

[2016-08-22 12:53] darpanvithani commented on #70
Hi @vstirbu  it works now.
We need to pass whole object which has a key named image and caption.
while in your tutorial and readme file you wrote like below.
$cordovaInstagram.share($scope.image.data, $scope.image.caption).then(function() {
    // Worked
  }, function(err) {
    // Didn't work
  });

here key name is data while your plugin expects image.
so now everything works fine.

[2016-08-22 12:53] #70 closed

[2016-08-22 12:58] vstirbu commented on #70
ng-cordova project is not maintained by me, so there might be some mismatches. you can open an issue there so that they can update the documentation.

[2016-08-30 23:08] rodrigograca31 opened #72 "Plugin Crash"
Hi! Great plugin.

[I have this app](https://play.google.com/store/apps/details?id=com.instasquares) that relys evely on this plugin.
I get a lot of people complaining that the app crashes after posting a picture (when they get back to my app).

It seems to happen only on Android 5 or latter... And in Moto G's ....
![screenshot-area-2016-08-31-000003](https://cloud.githubusercontent.com/assets/113

[2016-09-01 09:08] vstirbu commented on #72
The plugin is lagging behind considering the latest Cordova APIs. What Cordova version are you using  and is the behaviour consistent on Android 5 and newer?

[2016-09-01 11:49] rodrigograca31 commented on #72
The lates: 5.2.1

(as of a month ago....)

[2016-09-01 15:47] rodrigograca31 commented on #72
BTW, I have a Moto G with Android 5.1 for testing but it doesn't crash on my Moto G....

[2016-09-05 19:08] vstirbu commented on #72
Can you try to install the plugin from git and give it a try:

`cordova plugin add https://github.com/vstirbu/InstagramPlugin.git`

[2016-09-06 10:02] rodrigograca31 commented on #72
I'll do that, but keep in mind that I will only be able to give some results in at least a couple weeks....
(Time for the new apk to spread, be used and have some reports...)

[2016-09-06 11:55] rodrigograca31 commented on #72
Just published a new version of the app... Now I need to wait a couple of weeks to see the results...
Thanks for the help!

[2016-09-13 10:53] arturalkaim opened #73 "Install/Use issues with Ionic"
Hello, I'm developing an app using Ionic 2.

I tried to install this plugin with:
`ionic plugin add cordova-instagram-plugin`
`ionic plugin add https://github.com/vstirbu/InstagramPlugin.git`
`cordova plugin add cordova-instagram-plugin`

And I always get the following error
`'"/Users/mypc/myproject/node_modules/ionic-native/dist/index"' has no exported member 'Instagram'.`
On
`import { Facebook,

[2016-09-13 14:46] vstirbu commented on #73
The error suggests that the problems is on the `ionic-native` side. Do you have an up to date ionic-native. Seems that they have added support [recently](https://github.com/driftyco/ionic-native/pull/453).

[2016-09-13 16:18] arturalkaim commented on #73
Thanks! That fixed!
Does this plugin allows sign in with instagram?

[2016-09-13 16:18] #73 closed

[2016-09-13 16:20] vstirbu commented on #73
No, the functionality is limited to sharing using the native app.

[2016-09-26 03:58] vstirbu commented on #72
Has the situation improved?

[2016-09-26 11:16] rodrigograca31 commented on #72
Apparently not.... (since September has crashes as shown in the image....)

![screenshot-area-2016-09-26-121502](https://cloud.githubusercontent.com/assets/1134310/18832362/ee74cfd8-83e2-11e6-83f3-f1b89802b466.png)

[2016-09-26 11:22] rodrigograca31 commented on #72
Apparently it changed line (since you added more lines....)

[code]

LG G3 Android 5.0

[2016-11-28 14:15] amurbelikov commented on #64
Hi, I have got "TypeError: Cannot read property 'slice' of undefined" in cordova Instagram plugin.
Can you help me now?

[2016-12-09 10:07] arturalkaim opened #74 "Just Open Instagram app"
Hi,

I'm using this plugin to allow my users to post to instagram.
But sometimes I do not have a predefined content for them to post.
They first have to pick the file from the gallery and then are redirected to the Instagram's "file picker" page and see all their pics again.

Is there any way to just open instagram and they can choose the pic there?

Thanks,
Best regards

[2016-12-09 17:13] arturalkaim commented on #74
Sometimes the user needs to post something that was already in the gallery and it feels weird if he has too see the gallery twice.

[2016-12-09 18:35] CelsoSantos commented on #74
I have to agree with @arturalkaim.

It may not be the main purpose of the plugin but it is a possibility that should be provided since instagram also allows that

[2016-12-09 18:44] micheltobon commented on #74
@arturalkaim in that case what you can do is in the camera plugin, to set the source of the image to be the GALLERY, that way the user will be able to select something that he already had before and post it that way but the image will already be sent to instagram

[2016-12-09 18:46] rodrigograca31 commented on #72
Update:
I'm not really sure if this problem has been solve because the last "error spike" is from 30 of November:
![screenshot-area-2016-12-09-183741](https://cloud.githubusercontent.com/assets/1134310/21060347/c3ccaa12-be3e-11e6-9fb6-756589ba67ea.png)

But either way I've decided to try to get rid of it by creating a bounty:
https://www.bountysource.com/issues/37430564-plugin-crash

Here is the a

[2016-12-09 19:07] arturalkaim commented on #74
@micheltobon that is what I'm doing...
I just wanted to choose it within Instagram

[2016-12-10 20:29] #62 closed

[2017-01-07 22:38] rodrigograca31 commented on #72
Hi! @vstirbu and @jcesarmobile and others...

I've increased the value of the of the bounty to a total of **50$** ...
[https://www.bountysource.com/issues/37430564-plugin-crash](https://www.bountysource.com/issues/37430564-plugin-crash)

You can grab it if you can solve my problem.... :smile:

Thanks!

[2017-01-10 08:23] mpk2 opened #75 "Attempts to share file using file:// (exposed beyond app through ClipData.Item.getUri())"
With the current setup, sharing fails on Android N because of restrictions on use of the file protocol. [Here](https://inthecheesefactory.com/blog/how-to-share-access-to-file-with-fileprovider-on-android-nougat/en) is a description of the change.

In order to resolve the problem, I had to make changes to `share` in `CDVInstagramPlugin.java` below

[code]

You'll notice that this is very similar to

[2017-01-10 08:42] mpk2 commented on #75
Added PR #76

[2017-01-10 08:50] mpk2 opened #77 "Caption not copying to clipboard"
Seems like the code that uses the cordova clipboard plugin is not properly attaching the caption to the clipboard.

[2017-01-10 08:54] mpk2 commented on #77
Looks like the code isn't getting called until the callback in `shareDataUrl` in `CDVInstagramPlugin.js`

[2017-01-10 08:58] mpk2 commented on #77
See #78

[2017-01-10 09:25] mpk2 commented on #72
@rodrigograca31 is that the only call to the plugin that you make?

[2017-01-10 09:54] mpk2 commented on #72
It's hard to tell exactly without being able to easily reproduce the issue. I think it's very likely that it has to do with low memory devices pushing out the plugin activity when under memory pressure and that causing the null pointer exception (described [here](https://cordova.apache.org/docs/en/latest/guide/platforms/android/plugin.html#launching-other-activities)). If that's the case, then the

[2017-01-10 19:15] vstirbu commented on #75
merged

[2017-01-10 19:15] #75 closed

[2017-01-10 19:15] vstirbu commented on #77
merged

[2017-01-10 19:15] #77 closed

[2017-01-11 00:32] rodrigograca31 commented on #72
Hi @mpk2

What callback are you talking about?

I'll try to update the app with that code and let you know if the crash stopped ... (in a couple of weeks/one month)

Thanks

[2017-01-11 00:47] mpk2 commented on #72
The Javascript callback in which you log potential errors. If you were to implement the state saving solution suggested by Cordova, the plugin would return the plugin result value to the "resume" Javascript handler, NOT the plugin Javascript callback.  You don't have to worry about that if you're just going to implement the above.

However, since Android may be killing the activity, you should try

[2017-01-11 00:50] rodrigograca31 commented on #72
@mpk2 I just log it... So I could even remove that...

[2017-01-11 00:52] mpk2 commented on #72
That's fine, but it won't fix underlying problems in the Java code, which would still fire the offending methods without the `null` check.

Hope that helps!

[2017-01-13 15:12] rodrigograca31 commented on #72
I've just release a new version of the app...
Let's see if the problem gets solved...
[https://play.google.com/store/apps/details?id=com.instasquares](https://play.google.com/store/apps/details?id=com.instasquares)

The crash graph as of now:
![image](https://cloud.githubusercontent.com/assets/1134310/21934746/8b6a582a-d9a2-11e6-976a-9bef78e3c64f.png)

[2017-03-22 21:34] rodrigograca31 commented on #72
(the issue seems to be solved...)
@mpk2 I was trying to attribute the "bountysource" bounty to you but I think that you need to "ask for it"...
Please try to login and click "Get Started" ...

https://www.bountysource.com/issues/37430564-plugin-crash

[2017-03-22 21:37] rodrigograca31 commented on #72
Yes, you have to "ask for it"..... Please do that...

[2017-03-22 21:51] mpk2 commented on #72
@rodrigograca31 Awesome! Glad I was able to help you out

[2017-03-22 21:55] mpk2 commented on #72
@rodrigograca31 It currently says

So perhaps you have to re-open and re-close it?

[2017-03-22 21:56] #72 closed

[2017-03-22 21:57] rodrigograca31 commented on #72
Done.... let's also wait a few minutes...

[2017-03-22 21:59] mpk2 commented on #72
👍  No worries 😄

[2017-04-06 12:55] ajayV1992 commented on #74
@arturalkaim did you find the solution.

[2017-04-06 17:02] rodrigograca31 commented on #74
There's cordova plugins to launch an app.... You just need to provide the Instagram package name...

[2017-04-07 04:12] ajay92x opened #79 "Direct instagram launch"
After the image is selected launch the instagram app instead of picking the instagram app from share to picker.

[2017-04-07 04:15] ajayV1992 commented on #74
Is there any solution for launching the instagram app after the image is selected instead of picking the instagram app from share to picker.
It was working before "Fixes for Android N restrictions" but after that it started showing other apps to share.

[2017-04-07 05:31] vstirbu commented on #79
Which platform are you referring to?

If iOS, then there is another app that registered that it can handle the same media as Instagram. You cannot bypass that selection.

[2017-04-07 05:38] ajayV1992 commented on #79
In Samsung A5 (marshmallow), before the update of this plugin it was working but after the update it showing Instagram picker instead to launching the Instagram app to share.

[2017-04-15 19:04] gopalaiahvinay opened #80 "Unable to share Video via instagram"
Instagram.shareAsset(function(result) {
                  console.log('Instagram.shareAsset success: ' + result);
                }, function(e) {
                  console.log('Instagram.shareAsset error: ' + e);
                }, localFileUrl);
              }, function() {
                // error
   });

I am unable to share a video to instagram, I am passing the local file url as a parameter

[2017-05-15 12:13] mizdler opened #81 "Unable to install the plugin"
There is a problem with plugin dependency "com.verso.cordova.clipboard":

`$ cordova plugin add --save cordova-instagram-plugin
Installing "cordova-instagram-plugin" for android
Failed to install 'cordova-instagram-plugin': Error
    at /home/mohammad/.nvm/versions/node/v7.4.0/lib/node_modules/cordova/node_modules/cordova-lib/src/plugman/fetch.js:205:33
    at _rejected (/home/mohammad/.nvm/versio

[2017-05-15 14:14] #81 closed

[2017-05-15 23:14] westonganger commented on #49
I see that iOS now has the method `shareAsset` which enables video upload. We should get this implemented in Android too. We have the documentation for the intent, would that be similar to what iOS does?

[2017-05-16 08:22] vstirbu commented on #80
this method is iOS specific. follow #49 to see what the outcome will be for android.

[2017-05-16 08:22] #80 closed

[2017-05-16 08:34] vstirbu commented on #49
We could add a `shareVideo` method for sharing the video which accepts an url to the video file. Instagram app for Android supports that [feature](https://www.instagram.com/developer/mobile-sharing/android-intents/).

[2017-05-16 15:47] westonganger commented on #49
Would love this. You are suggesting seperate methods for iOS and Android. Would it not be better to unify the JS API across both platforms with one method name or are they going to behave very differently?

[2017-05-16 16:04] vstirbu commented on #49
It might work with only one method.

In the long term the API needs to be reworked as so many things are not supported anymore by Instagram.

[2017-06-19 12:46] codebeauty opened #83 "Failed to fetch plugin https://github.com/Visigo/CordovaClipboard.git"
I'm trying to install InstagramPlugin but it always fails with CordovaClipboard. Maybe a connection to #82 .

`
→ ionic cordova plugin add cordova-instagram-plugin

✖ Running command - failed!

[ERROR] Cordova encountered an error.
        You may get more insight by running the Cordova command above directly.

[ERROR] An error occurred while running cordova plugin add cordova-instagram-plugin --s

[2017-06-19 13:04] codebeauty commented on #83
Okay, it looks like there was some cluttered stuff. Installation works fine without errors after removing all mentions of Instagram and Clipboard plugin from **package.json**, **package-lock.json**, **config.xml** and **plugins/ios.json**.

[2017-06-19 13:04] #83 closed

[2017-07-19 16:53] gildebrand commented on #79
Use the `shareAsset` method instead. This works! However, you have to save the image to the local photo library and pass the path to the image!

[2017-07-20 05:58] ajayV1992 commented on #79
But plugin is showing shareAssest is for iOS only

[2017-08-20 22:14] rodrigograca31 opened #85 "Compatibility with Android 7 Nougat"
Hi everyone!

I noticed this plugin is not working in Android 7 ...
I get this error on ADB:
[code]

I would appreciate if someone could take care of it (without breaking other Android versions...)
Thanks

[2017-08-20 22:18] rodrigograca31 commented on #85
For who solves this first there is a $50 bounty on it created by me:
https://www.bountysource.com/issues/48463381-compatibility-with-android-7-nougat

[2017-08-22 06:52] moritzgloeckl commented on #85
Hi,

can you share some code or a guide on how to reproduce this? The plugin is working fine for me with a clean cordova app, canvasId as well as dataURL on a Samsung Galaxy S7 Edge running 7.0

Thanks!

[2017-08-22 11:53] rodrigograca31 commented on #85
oh boy..... seems was fixed in "ebba2d1fd1a590a967066fa27747fa6952b24232"

why didnt I check if there was updates to the extension? sorry....  let me test and make sure works for me....

[2017-08-22 16:06] #85 closed

[2017-09-16 08:31] muhzi4u commented on #64
@amurbelikov @billy124 Any one got the solution ?

[2017-09-17 06:36] muhzi4u commented on #64
@vstirbu I have tried you suggestion .But getting the same error.
**Console Log**

![screen shot 2017-09-17 at 12 05 45 pm](https://user-images.githubusercontent.com/12408980/30518610-a8742ce6-9ba0-11e7-82e1-b8c0e934ae09.png)

**JS Code**
[code]

[2017-09-17 07:44] vstirbu commented on #64
It appears that the `data` that you provide to share function is undefined.

[2017-09-17 08:48] muhzi4u commented on #64
@vstirbu Thank you very much.It is working now.Can i add this solution in to README.md file?

[2017-09-17 11:33] vstirbu commented on #64
Yes, make a pull request with the working solution.

[2017-09-20 20:11] albertleao opened #87 "Caption not copying with ios11"
When testing, I tried also pasting into the 'Notes' app and it seems to paste a text file that is only a few bytes large.

[2017-09-20 22:14] albertleao commented on #87
Alright I figured it out. It has to do with the clipboard plugin that comes with this plugin. The issue and fix are found here:
https://github.com/VersoSolutions/CordovaClipboard/issues/26

With all the changes to the clipboard on iOS, might I suggest the removal of any dependencies and leave the clipboard portion to the user itself?

[2017-09-21 13:50] vstirbu commented on #87
Yep, removing the caption functionality is one option although a bit radical, considering how common is for the users of this plugin. It is further complicated as the clipboard plugin is not actually maintained.

Is your fork backwards compatible? Can you make a PR?

Thanks

[2017-09-21 19:35] albertleao commented on #87
It's working on ios11, I'm going to test it on ios 9 and 10 tonight and will let you know.

[2017-09-22 17:36] albertleao commented on #87
https://github.com/Visigo/CordovaClipboard/pull/2

[2017-09-29 14:29] mreis92 commented on #87
Hi there, I have encountered this problem as well. Is there any known workaround I can implement for this?

[2017-10-20 17:55] lianesten opened #88 "add reference to config.xml Ionic 2"
Improvement:

Hello!

When I use another cordova plugin, their reference is set it automatically in the file config.xml. This no happen adding the instagram plugin:

`cordova plugin add cordova-instagram-plugin`

so, when i run the project in another machine for example, the instagram plugin never will be install because there is not any reference from config.xml file.

the line in config.xml file

[2017-10-21 14:32] vinceharmon opened #89 "Installing"
I'm running the command to add the plugin into my project
**cordova plugin add cordova-instagram-plugin --save**

The plugin installation fails when it's trying to pull in the depend project: **Visigo/CordovaClipboard**

with error:
**Error: Failed to fetch plugin https://github.com/Visigo/CordovaClipboard.git via registry.**

I have tried this a number of times with the same result.

I'm using **

[2017-10-23 14:45] vstirbu commented on #88
If you run add this plugin in a project and want to share it on another machine (e.g. via git) you need to do the following:

[code]

[2017-10-24 17:16] lianesten commented on #88
Thank u so much @vstirbu worked perfect!!

[2017-10-24 17:18] #88 closed

[2017-11-16 20:32] albertleao commented on #49
Sorry if I missed this, but according to the documentation video sharing is only available via iOS via the `shareAsset` method. Will this also work with Android as long as the video is local?

[2017-11-21 14:20] fabien91 opened #90 "use instagram plugin on ionic v3"
Hi,

I can't use your plugin on ionic v3, i don't understand why.

![image](https://user-images.githubusercontent.com/5675697/33077188-6d185d5e-cecf-11e7-90f2-74642a4cbe7f.png)

Could you help me please ?

Sincerely yours,
Fabien

[2017-11-25 19:52] #90 closed

[2017-12-20 18:09] ram-izaap opened #91 "Instagram: Not able to share Multiple images"
Hi , I have integrated InstagramPlugin in my android app and able to share single image per post. But my requirement is to share multiple images into one post.

Please help us to achieve this

[2017-12-30 18:52] zulfu opened #92 "Plugin doesn't work on iPhone X"
I tried on iPhone X, 5s, 8, 7 it doesnt work on Instagram 27.0 version. Image area is empty.

![whatsapp image 2018-01-03 at 22 26 56](https://user-images.githubusercontent.com/4500888/34541615-f72c3f42-f0e9-11e7-84ed-cd2e0e86669f.jpeg)

[2018-01-26 05:09] gopalaiahvinay opened #93 "Not able to post to feed via ios(asking to select between feed & story)"
On iPhone,

We are not able to post an image to instagram feed directly.
It is asking to select between feed & story.
But on selecting either the image is being lost.
Also, when we save the image it is working as expected.

Screen Recording Link: https://drive.google.com/open?id=1zCtnc_s7ZQQbyitw7neJYBxYTJDWhanV

We are in production,
So a quick support will be greatly appreciated.

[2018-01-29 19:02] rolinger opened #94 "Instagram composer not returning to app after img is shared"
Testing on Android and I finally got this working.  But the only way it seems to exit Instagram to back to my app is for the user to physically close Instagram or return my app to the foreground. And when I do that the `err` callback is registering the basic "Not Shared" error so my app is not able to properly track if the post was successful or not.  It IS posting though...just not getting the pr

[2018-01-29 21:34] vstirbu commented on #94
Instagram app behaviour changed over time on the topic of returning to the activity sharing calling app. The plugin just calls the [API](https://www.instagram.com/developer/mobile-sharing/android-intents/) as specified by Instagram. No control on what happens next.

[2018-01-29 21:34] #94 closed

[2018-01-30 11:13] paulwalczewski commented on #93
Same problem here.
Found that if you save the image in a story first and then go to feed, image will be available.
That is obviously very user-unfriendly solution, but until this bug gets fixed this is what we stick for :(

[2018-02-17 23:27] rolinger opened #95 "Ionic plugin wrapper causes plugin install error"
Using Ionic v3.19 - it uses the new: `ionic cordova plugin add cordova-instagram-plugin` format and it gives the following error:

[code]

Just using the standard `cordova plugin install cordova-instagram-plugin` installed without error.

[2018-02-17 23:28] rolinger opened #96 "Plugin should not reinstall cordova-plugin-clipboard if it already exists"
I already have it installed and this plugin should check to see if it exists first...if not, install it...if so, then just used the installed version.

[2018-03-16 18:31] rodrigograca31 opened #97 "Plugin not working on Android 8.0"
Hi!

This plugin doesn't work on Android 8.0, logcat outputs this:

[code]

The problem seems to be easy to solve but Java is not my forte.....
[https://stackoverflow.com/questions/38200282/android-os-fileuriexposedexception-file-storage-emulated-0-test-txt-exposed](https://stackoverflow.com/questions/38200282/android-os-fileuriexposedexception-file-storage-emulated-0-test-txt-exposed)

Thanks

[2018-03-16 18:46] rodrigograca31 commented on #97
It was fixed in the past for Android 7.... [https://github.com/vstirbu/InstagramPlugin/commit/ebba2d1fd1a590a967066fa27747fa6952b24232](https://github.com/vstirbu/InstagramPlugin/commit/ebba2d1fd1a590a967066fa27747fa6952b24232)

But the problem is still reproducible in Android 8 (API 26)

[2018-03-16 18:48] rodrigograca31 commented on #97
Bounty of $50 created for this issue: https://www.bountysource.com/issues/56192821-plugin-not-working-on-android-8-0

[2018-03-21 23:33] albertleao commented on #97
+1

[2018-03-25 06:53] Unsigno commented on #97
I think there is solved on https://github.com/vstirbu/InstagramPlugin/pull/98 , can i claim now ?? :)

[2018-03-25 18:00] albertleao commented on #97
Does this fix also maintain backwards compatibility with android 7 and below?

[2018-03-26 00:10] Unsigno commented on #97
To be honest , I have not built it because I do not have the Cordova environment ready, nor instagram, but I know the error and this should solve the problem in Android 8 and maintain the previous compativility .

[2018-03-26 17:28] albertleao commented on #97
@rodrigograca31 Can you tell me if you have the following in your installation?

In your AndroidManifest.xml:

[code]

and in your res/xml/provider_paths.xml:
[code]

I have them in my install but I'm worried they are being created by another plugin and my current fix which I have working now won't apply to everyone.

[2018-03-26 18:32] rodrigograca31 commented on #97
@albertleao searching for `android:authorities` in `AndroidManifest.xml`
gives me this 2 results:

[code]
[code]

[2018-03-26 18:33] albertleao commented on #97
Thanks @rodrigograca31 . I think I got it figured out, do you have an android 6 or below device we can test on?

[2018-03-26 18:35] rodrigograca31 commented on #97
and `res/xml/provider_paths.xml` has this:
[code]

[2018-03-26 18:36] rodrigograca31 commented on #97
I have Android 4.4, 5.1 and 8
Then I can set up emulators for 6 and 7 with a few clicks and some waiting..... :joy:

[2018-03-26 18:39] albertleao commented on #97
Give it a shot for me https://github.com/albertleao/InstagramPlugin/tree/android_nougat_patch

[2018-03-26 18:59] albertleao commented on #97
Are you  using Android Studio? I had that sem error at first then I changed one more line in the file and it 'synced' and started working. I think i added a random space. I'm kinda shooting from the hip with this java stuff.

[2018-03-26 19:05] rodrigograca31 commented on #97
I just downloaded your repo and added directly and compiled!
Seems not to work yet......... (not share to Instagram) let me try another way...........

[2018-03-26 19:56] rodrigograca31 commented on #97
Wait................. Actually compiled because I downloaded the master branch.... fail... Downloading the correct branch produces that error above....

[2018-03-26 19:58] albertleao commented on #97
Yea. I'm trying to figure out how to import the FileProvider library correctly. If you add it after compile, everything works.

[2018-03-26 20:17] Unsigno commented on #97
Sorry guys , you are right with the FileProvider , i just missinterpreted a comment , thinking we just need set the flag . Looks you are solving that , if you want me to try again let me know ;)

[2018-03-26 20:20] albertleao commented on #97
I just pushed an update to https://github.com/albertleao/InstagramPlugin/tree/android_nougat_patch

It's compiling on my end on android 7.

[2018-03-26 20:43] rodrigograca31 commented on #97
@albertleao
1st: not sure why you were complaining about nougat (android 7) because for me worked in 7 when I tested 1-2 weeks ago in a emulator...
2nd: used your first commit and tryed on my own to make the import (reading the docs) and just added `import android.support.v4.content.FileProvider;` to your first commit and works for me..... (Android 8 Oreo)

[2018-03-26 20:46] albertleao commented on #97
Haha, my fault. I've been referring to Nougat as if it were Oreo.

I'll redo my commits with the right messages.

My 2nd commit ensures that when you add the plugin to cordova it references the correct libraries. I was having issues with that in my first commit

[2018-03-26 20:47] rodrigograca31 commented on #97
And you repeat code in your first commit inside the if/else.... it would be better if that was cleaned and updated the package version, etc for the plugin creator to accept a PR.....

but first I will try that commit with my changes in 4.4, 5.1, 6, 7 and 8.......

[2018-03-26 20:47] rodrigograca31 commented on #97
Oh........ ok.........

[2018-03-26 20:48] albertleao commented on #97
Doing that now, give me a few.

[2018-03-26 20:52] rodrigograca31 commented on #97
Ok, I'm testing in 4.4 and 5 atm. Then 6 and 7 will take a while do spin up the emulator install Instagram and test....

[2018-03-26 21:07] rodrigograca31 commented on #97
Ok, I will test that on all the things and report back maybe in 1-2 hours or tomorrow......

[2018-03-26 21:46] albertleao commented on #97
I just tested on an emulator running Nougat and on my phone running Oreo and both are working.

[2018-03-27 02:00] rodrigograca31 commented on #97
Tested on Android 4.4 and 8 real devices and all of this emulators:
![screenshot-window-2018-03-27-021947](https://user-images.githubusercontent.com/1134310/37942390-baba88fe-316a-11e8-8d8c-b8b1f53ec648.png)
and it's working! YAY! :smile:
@albertleao would you mind registering in bountysource and claiming the reward?
(3AM here, I'm heading out)

[2018-03-27 02:02] rodrigograca31 commented on #97
Also, send a PR for the main plugin......

[2018-03-27 02:02] albertleao commented on #97
Great! I'll do that and I'll make the pull request back to the main repo. I'll keep this up until then.

Have a great night!

[2018-03-27 02:07] albertleao commented on #97
@vstirbu please merge #99

[2018-03-27 05:10] #97 closed

[2018-03-27 05:12] vstirbu commented on #97
also published in npm. great job

[2018-03-27 15:08] rodrigograca31 commented on #97
Yay!
I just spend 3 hours trying to make my ionic project work......... :cry:
I updated Android Studio and it updated gradle and everything went bananas...... :cry:

Even almost solved one of my Rubik's cubes by accident while waiting for downloads/compiles :joy:

@albertleao bountysource says: "The bounty can be claimed once the issue gets closed on the original issue tracker. When a bounty claim

[2018-03-27 15:37] albertleao commented on #97
@rodrigograca31 glad you got it working. I have claimed the bounty.

[2018-03-27 16:00] rodrigograca31 commented on #97
Accepted. Enjoy! :)

[2018-03-27 17:46] rodrigograca31 commented on #97
hummmmmmm.
Not sure what I've done but everything was working and I even deployed a new version of my app to the Play Store already.........

Then I basically removed and added cordova back: `ionic cordova platform rm android && ionic cordova platform add android@6.2.3` and did `ionic cordova run android` and the app crashes on launch....

adb logcat:
[code]
removing this from the plugin makes it

[2018-03-27 17:47] rodrigograca31 commented on #97
After typing that I think we need to add another `<source-file....` for the `AssetProvider.java` file to be copied because its probably not copied and is missing....? Let me try to add that.....

[2018-03-27 17:57] rodrigograca31 commented on #97
Yep, adding
[code]
after:
[code]
makes it work... and makes sense.... not sure how it was working before........?
@albertleao opinion? should you add this line ...?
thanks.

[2018-04-17 08:25] dahlmo opened #100 "Share to story gives black image"
Plugin version: 0.5.6
Ionic version: 2.2.1
Cordova version: 6.5.0
Test device: Google Pixel (1)
Test device OS: Android 8.1.0 Oreo
Instagram version: 41.0.0.13.92

When invoking `share` I get brought to the Instagram app, but a black image is loaded and not the actual picture that should have been shared. The same share flow and same image works when sharing it as a regular post. Both story and re

[2018-04-18 15:37] albertleao commented on #100
As far as I know the sharing to story isn't part of this spec. Your phone is giving you the option because of instagram but that's something out of control of this lib.

[2018-04-21 22:29] rodrigograca31 commented on #97
@albertleao ?

[2018-04-23 13:14] kbrin423 opened #101 "Android App crash when launch"
I have this error when I try to run an ionic android application.

java.lang.RuntimeException: Unable to get provider com.vladstirbu.cordova.plugin.utils.AssetProvider: java.lang.ClassNotFoundException: Didn't find class "com.vladstirbu.cordova.plugin.utils.AssetProvider"

The app has been builded successfully. But crashed when I try to open the app.
 Can you solve the issue here please? 😊

ionic

[2018-04-23 14:45] josephware commented on #101
I have the same issue. It appears to be an issue with the recent 0.5.6 release.  I compiled with 0.5.5 and did not encounter the issue.

[2018-04-23 15:01] kbrin423 commented on #101
thx! 😊

[2018-05-25 01:22] ejlocop opened #102 "kept on getting Instagram is undefined error"
Hi,

How can i initialize this plugin in my vuejs cordova application ?
i kept getting undefined Instagram even when i put it inside the ondeviceready hook.

here's my code below.
![image](https://user-images.githubusercontent.com/12082880/40521198-dc12340a-5ffc-11e8-9f07-7c6897e8e267.png)

plugin version: 0.5.6
cordova-cli version: cli-6.5.0

Cheers,
Eric

[2018-05-29 15:04] robertovanderlinden commented on #97
It is still not working for me.. I have added the source-file line as @rodrigograca31 suggested in the plugin.xml.

`05-29 16:59:34.278 23282-23282/? E/UncaughtException: java.lang.RuntimeException: Unable to get provider com.vladstirbu.cordova.plugin.utils.AssetProvider: java.lang.ClassNotFoundException: Didn't find class "com.vladstirbu.cordova.plugin.utils.AssetProvider" on path: DexPathList[[z

[2018-05-29 15:12] rodrigograca31 commented on #97
Humm, did you remove and add the android platform so that it does the entire process again?

[2018-05-29 16:46] robertovanderlinden commented on #97
... You are right! That worked.. hopefully this fix will be added soon. @albertleao

[2018-06-15 00:26] #102 closed, assigned to nobody

[2018-06-18 14:05] ridan opened #104 "Upgrade to using cordova-clipboard plugin rather than the universal-clipboard-plugin"
The universal-clipboard-plugin barely works and doesn't look like it's maintained anymore. We need to switch to a better clipboard plugin. I would reccomend cordova-clipboard

[2018-06-18 14:10] vstirbu commented on #104
Thanks for the suggestion, although I was thinking to remove the dependency on the clipboard plugin altogether. The caption functionality is not part of Instagram application's hooks and can be handled easily outside this plugin by the developer.

[2018-09-03 03:36] ejlocop commented on #49
Hi, any updates on this one?

Also, how did you guys get the `local identifier string` from the File ?

[2018-10-09 15:34] futuravis commented on #95
I am also facing the same issue.

[2018-11-16 08:16] andreazanni opened #107 "Story gives black image"
The story with black image will be fixed soon?

[2019-03-26 17:34] rodrigograca31 commented on #72
I still get quite a few `java.lang.NullPointerException` from this plugin....

I need to hire someone to fix this for me....
@mpk2 are you free? :smile:

[Seems an issue with line 157.....](https://github.com/vstirbu/InstagramPlugin/blob/master/src/android/CDVInstagramPlugin.java#L157)

[code]

[2019-03-29 05:29] mattkindy-praetorian commented on #72
Are you still using this approach ("kludge") I detailed here?

https://github.com/vstirbu/InstagramPlugin/issues/72#issuecomment-271532637

The explicit null check should prevent those errors, despite not being the end all be all. I suspect you had implemented it but perhaps didn't fork it yourself. It really should be included into this repo. There's no reason not to check for null

[2019-03-29 10:57] rodrigograca31 commented on #72
Yeah, seems my issue was exactly that!
At some point I lost the "kludge", thanks!

I will send a PR to this repo....

BTW, I'm not that good with Android stuff but: if this plugin opens an activity and the cordova activity gets killed means that the "page" (progress) where the user was on my app gets lost right?

[2019-03-29 11:40] mattkindy-praetorian commented on #72
It has been a little while since I've worked directly on Cordova, but I
think that's right, unless you serialize and save state before it's killed
and deserialise once it is revived.

On Fri, Mar 29, 2019, 5:57 AM Rodrigo Graça <notifications@github.com>
wrote:

[2019-04-12 10:19] rodrigograca31 commented on #107
@vstirbu yeah nowadays Instagram sharing shows 2 options, `Feed` and `Stories`.

@andreazanni only when you choose the Story option?
Does it still happen? Because it doesnt for me.

[2019-04-12 10:21] rodrigograca31 commented on #89
@vinceharmon are you still facing this problem? If not please close the issue

[2019-07-22 17:42] JustasKuizinas commented on #104
@vstirbu I agree you should remove clipboard dependency because now for example if you have cordova-clipboard installed you get this error while installing cordova-instagram-plugin

Failed to install 'cordova-universal-clipboard': CordovaError: Uh oh!
"D:\...\platforms\android\app\src\main\java\
com\verso\cordova\clipboard\Clipboard.java" already exists!

[2019-07-22 19:59] webquali opened #110 "Share video from Android"
Please help me. How I can share the video to Instagram on Android device?

[2019-08-22 14:11] rjlinden commented on #110
Does anyone know if this is possible?

[2019-09-27 14:05] rjlinden opened #111 "IOS 13: Can not select Instagram app"
Hello,

We are not able to select the instagram app on ios 13 after we call the share functionality.
Do you have any idea why or how we can fix this?

Cheers,
Roberto

[2019-09-30 17:28] paulwalczewski commented on #111
Experiening same issue here :/

[2019-10-01 07:15] jk90-obi commented on #111
I also have the same issue, would be great if it could be fixed @vstirbu . Thanks!

[2019-10-01 17:29] chase-wen-hs commented on #111
Same issue in iOS 13

[2019-10-03 06:02] vstirbu commented on #111
need a pair of eyes to review #106

[2019-10-03 17:20] chase-wen-hs commented on #111
Hi, I am from the same group as this PR owner. Please close this PR as it is no longer valid now.

This PR was requested one year ago and it is not for the purpose of this ios 13 fix. Since g4-KN is no longer working at the company, so please help to close this PR.

Besides, I think replacing instagram.igo with image is a workaround for the iOS 13 transition, it shouldn't be a official fix for the

[2019-10-08 09:19] bally86 commented on #111
So can you explain what we need to do to get it working on IOS13 again?

[2019-10-15 14:14] jk90-obi commented on #111
Any news on a fix? More users are upgrading to iOs13, so we get more complaints. Thanks!

[2019-10-26 17:16] msigwart commented on #111
Just tried out the fix in #112, worked for me! Just remember to `cordova rm ios` and `cordova add ios` again.

[2019-10-29 12:48] jk90-obi commented on #111
Now we need someone with write access to review & approve the PR

[2019-10-29 17:10] roxteddy commented on #111
I've even seen an app that opens directly Instagram without goin thru ios app picker. I wonder how they do this..

[2019-11-22 20:47] albertleao commented on #111
Bump... still broken! :(

[2019-12-04 12:44] joehui commented on #111
Tried #112 but it is not working for me.  After picking instagram app (which was hidden under the "More" button), it didn't launch Instagram app, and then my app locked up.

[2020-01-28 15:18] Sunny41 commented on #107
same thing for me. there is a black image in the story creator and then it cancels.

my ionic info:
[code]

and the code:

[code]

path is something like '../../../assets/images/abc.png'

[2020-01-28 20:33] rodrigograca31 commented on #107
Are you guys sure isnt your canvas black?
try to output your base64 string to the console and copy it to a new tab and open it and see if theres a valid image or black image

[2020-01-29 12:52] Sunny41 commented on #107
my base64 string is empty and i don't know why... does it need to be base64 encoded?
this is really confusing :(

[2020-01-29 14:25] rodrigograca31 commented on #107
@Sunny41 if its empty the problem is not with this plugin but with your code...

Try to figure out why its just empty and it should fix your bug

[2020-01-30 08:18] Sunny41 commented on #107
@rodrigograca31 I managed to get the string, but the canvas is still black and then the instagram app crashes with "Share cancelled" and "Image could not be loaded"

[code]

what I also tried:  (without 'file:///')
[code]

[2020-01-30 10:27] Sunny41 commented on #107
same with sharing via feed and message :(

[2020-02-02 00:10] rodrigograca31 commented on #107
You are doing it wrong.
You either give it an ID or a `toDataURL()`

You are working with files....? Are they images? Are you sure?

[2020-02-03 06:19] Sunny41 commented on #107
i am not doing it wrong because the base64 string is correct. you can check it yourself with it:
[code]

[2020-02-03 10:35] rodrigograca31 commented on #107
:thinking: yeah seems good. :thinking:

[2020-02-05 07:43] Sunny41 commented on #107
what do we do now? :D

[2020-02-08 18:00] rodrigograca31 commented on #107
not sure...

wait... are you sure you removed the file thing?
the correct is to send a `toDataURL` with everything as normal...
`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABDgAAAeACAIAA.........`

[2020-03-20 15:12] mblint-postcron opened #113 "Unable to load image for FEED"
I'm facing an issue sending a share intent to Instagram on Android, from the last update from 3 days ago. This is on an Ionic app

I can reproduce the error in the following conditions:

Android >= 8
Last Instagram Version (133.0.0.32.120)
Only sharing to Feed, Stories read the image as expected

I will not add the code I'm using to share because seems to be another thing, some change that Instagr

[2020-03-20 17:01] hdeshmukh commented on #113
Same here.
Android >=8
Instagram Version (133.0.0.32.120)
Sharing to feeds, direct fails.  Debugging the issue it looks like the error message returned is ShareCancelled

![image](https://user-images.githubusercontent.com/3018663/77187430-b3f1ec80-6a91-11ea-993a-8d6d895b73c3.png)

This all happened when Instagram updated to their latest version

[2020-03-20 17:03] souvenirpixels commented on #113
Same issue here, was working fine before Instagram version 133.0.0.32.120.  Instagram shows message "Unable to load image"  then kicks out. Same error as @hdeshmukh, any ideas how to troubleshoot this one?

[2020-03-20 17:30] mblint-postcron commented on #113
Hello guys. I'm trying to fix this issue but not lucky yet. I could say that tried with different images, sizes, dimensions, and formats, and all fails the same. So the problem should be related to anything else, maybe permissions.

This is weird because Stories work like a charm :/

[2020-03-20 21:53] hdeshmukh commented on #113
Weird thing is I cannot reproduce the issue on Android 6.  Everything seems to be working fine on an older device.

[2020-03-20 22:23] mblint-postcron commented on #113
Yes, meanwhile email to android-support@instagram.com, maybe we get their attention

[2020-03-20 23:28] souvenirpixels commented on #113
I emailed them as well, if I get any useful feedback will post back to this thread.

[2020-03-24 12:11] mblint-postcron commented on #113
@souvenirpixels @hdeshmukh hello guys! IG just release a new version for Android, could you check if is working now for you or still have the issue? Thanks

[2020-03-24 17:46] souvenirpixels commented on #113
Just checked, still not working with the new version (134.0.0.26.121), also haven't gotten any response from Instagram yet.

[2020-03-26 12:42] mblint-postcron commented on #113
Hello guys @souvenirpixels @hdeshmukh, there is a ticket on Facebook bugs section: https://developers.facebook.com/support/bugs/1326888287510350/

Can you leave a message there?
Thanks

[2020-03-26 16:04] souvenirpixels commented on #113
Thanks, I left a message and following the thread.  There is also a slackoverflow thread that suggests a work around may be writing to the media store then posting from there will work.

https://stackoverflow.com/questions/60786976/share-intent-issue-in-instagram-feed

Haven't been able to confirm if this is a possible fix.

[2020-03-26 17:48] mblint-postcron commented on #113
Thanks! I will try to do the same workaround in Java, but i'm a frontend developer há please add information here if you have

[2020-03-27 01:57] mauriblint commented on #113
Workaround solution to fix temporary this IG bug (I think is a bug from the Instagram app)
https://stackoverflow.com/questions/60776730/instagram-android-share-intent-unable-to-load-image

[2020-03-30 10:16] Sunny41 commented on #107
we have done a workaround and downloaded the image we wanted to share from our server. and this worked for us.
[code]

[2020-03-30 11:54] rodrigograca31 commented on #113
Can confirm this problem.
This explains the increase in installs and uninstalls of my app... (probably all apps are broken)

Instagram version: 134.0.0.26.1
Android 9

[2020-04-27 20:16] luarfaria commented on #113
It was a prolem with instagram app, other applications as whatsapp also had the same problem. After some weeks, i tested and share function is working.

[2020-05-03 22:42] rodrigograca31 commented on #113
Yeah, its working again.

[2020-05-03 22:46] #113 closed

[2020-08-28 14:06] robertovanderlinden opened #115 "iOS 13.6.1 Instagram share option does not work"
We use this plugin ([Pull request](https://github.com/vstirbu/InstagramPlugin/issues/111) version)  with ionic 5 and iOS 13.6.1. When sharing content, iOS shows two options:

- Instagram (Does not work, see attachment)
- Copy to Instagram (works as expected)

![image (1)](https://user-images.githubusercontent.com/10807693/91575274-a5b0d200-e947-11ea-99c9-399c16383e47.png)

Is anyone else experienc

[2020-08-28 16:36] rodrigograca31 commented on #115
You are saying that PR works but one of the options doesn't work?

Im asking because I was looking for feedback to know if it worked or not to be able to merge it:
https://github.com/vstirbu/InstagramPlugin/pull/114#issuecomment-633210264

[2020-08-30 10:28] robertovanderlinden commented on #115
Yes we are using the pull request and it works, but now something changed in either iOS or Instagram and that results in this issue.

[2020-08-31 08:09] rodrigograca31 commented on #115
Ok, I merged it.

Sorry but I'm not an iOS developer.

This seems to be the changelog:

[code]

[2020-08-31 08:12] rodrigograca31 commented on #111
This should be fixed.

But seems theres an issue again on iOS 13.6.1 ....

[2020-08-31 08:32] #111 closed

[2020-08-31 08:35] rodrigograca31 commented on #104
I know 2 years have passed but I just saw this and seems like a simple fix so I will do it now.

:hugs:

[2020-08-31 08:55] #104 closed

[2020-08-31 08:59] #96 closed

[2020-08-31 08:59] #87 closed

[2020-08-31 09:07] rodrigograca31 commented on #95
Seems to be related to the clipboard plugin which I just changed to `cordova-clipboard`

This should be fixed. Closing

[2020-08-31 09:07] #95 closed

[2020-08-31 09:08] #92 closed

[2020-08-31 09:08] rodrigograca31 commented on #92
Old issue. Not relevant anymore.

[2020-08-31 09:09] rodrigograca31 commented on #89
Seems to be related to the clipboard plugin which I just changed to `cordova-clipboard`, see #104

This should be fixed. Closing.

[2020-08-31 09:09] #89 closed

[2020-08-31 09:11] rodrigograca31 commented on #67
Closing this issue as it's not relevant anymore.

[2020-08-31 09:11] #67 closed

[2020-08-31 09:16] rodrigograca31 commented on #93
This is now the default behavior of Instagram right? we cant change that... :cry:

I believe this is out of our control. Instagram itself does this, not much we can do, right?

[2020-08-31 09:34] rodrigograca31 commented on #74
Closing this issue as it's not relevant to this project.

Will leave some useful links here:
- https://ionicframework.com/docs/native/app-launcher
- https://github.com/nchutchind/cordova-plugin-app-launcher
- https://forum.ionicframework.com/t/ionic-opening-external-app/77932/3

[2020-08-31 09:34] #74 closed

[2020-08-31 09:38] rodrigograca31 commented on #79
Closing in favor of #93

[2020-08-31 09:38] #79 closed

[2020-09-09 12:59] hdeshmukh commented on #115
Still experiencing this issue. Updated to 0.6.0 that incorporates the PR #114 mentioned but still seeing the issue occur. Download the file from a url into base64 image and using the share method, but this all of a sudden stopped working.

[2020-09-09 18:02] rodrigograca31 commented on #115
@regevbr pinging you because I noticed that you know Objective C and Cordova "things" and you might be able to help to fix this.

Also because @drastik mentioned before on #114 that he would be up to paying someone to fix it.

[2020-09-09 18:20] regevbr commented on #115
Thanks but I actually have no expirience with iOS and I hate apple as well haha don't know anyone who can help sadly

[2020-09-09 18:24] rodrigograca31 commented on #115
Oh ok!  I saw your iOS code on the other plugin and thought......... Thanks anyways!

[2020-09-09 18:26] regevbr commented on #115
It was a simple 3 liner that worked out of the box bu chance 😂

[2020-09-19 13:51] Piket564 opened #116 "[Suggestion] - Option to set share type"
Hi all, i'm building a personal app with Ionic
[code]

It's possible with this plugin, share directly in a stories?
Like Spotify do?

Thanks a lot!

[2020-09-19 18:37] rodrigograca31 commented on #116
Directly?

It does show the 3 options right?
Stories, feed, and something else that I cant remember...

[2020-09-30 07:10] Piket564 commented on #116
In iOs it works as a normal Share, on Samsung S10 (Android 10) it works as Instagram only share, but it ask for what you want to share.

I'd like to use like Spotify Share.
Directly into stories.

[2020-09-30 07:54] rodrigograca31 commented on #116
I'm confused. if you intend to share on Spotify this is not the correct plugin....

[2020-10-04 15:14] #116 closed

[2020-11-04 23:04] damirsel commented on #91
Hi there, we would also like to achieve this functionality in our app if possible...

Thanks!

[2020-11-08 18:20] seanaye commented on #110
Any updates?

[2020-12-01 09:59] pjamourik opened #117 "Error when sharing image to Instagram (iOS)"
Is anyone else experiencing problems when sharing images to Instagram.

The problem only occurs on iOS, and only started about 1 or 2 weeks ago. Android works fine.

After selecting Instgram:

![Schermafbeelding 2020-12-01 om 10 52 17](https://user-images.githubusercontent.com/40635129/100724899-ac763780-33c3-11eb-8e6a-eb12fba780c5.png)

Coming back to my app, following error from the plugin shows

[2020-12-10 20:29] atans2468 commented on #117
I am having this issue as well, any update on resolution?

[2020-12-11 14:24] rodrigograca31 commented on #117
Has Apple released a new version of iOS!? Is that the latest version of iOS?
I'm not an iOS user or dev... cant help much but that might be a problem....

[2020-12-12 21:43] atans2468 commented on #117
@rodrigograca31 yes it seems that they released iOS 14.2 and I'm no longer able to post due to this error when using this version. I can confirm that posting using version 14.0.1 is working though. I'm not an iOS dev either... @pjamourik did you find a work around for this?

[2020-12-13 13:45] pjamourik commented on #117
Not really. I temporarily disabled the plug-in for iOS only.

I just download the image to the phone's library, copy the text to the clipboard and then open Instagram. The user then can select the image manually. Not great, but it works.

[2020-12-22 07:28] fk27122019 opened #118 "Hi"

[2020-12-22 18:00] #118 closed

[2021-03-17 03:58] ensemblebd commented on #94
Just to comment, several apps do this.
The "reshare" apps, which launch Instagram with the image (as this one does), and upon completion it returns back.

So with some effort I think this is do-able, to research how those apps do it, and implement in the cordova plugin for both ios & android.
It's very important to my app, so I may share results if I can arrive upon the solution.

Not trying to ne

[2021-03-17 04:04] ensemblebd commented on #117
Same, occurs on iPhone 11 @ > 14.0 < 14.4.1
14.4.1 works fine (iPhone 12).

Will reply if I find alternative or details of value. But so far it's a dead end.

[2021-03-17 13:52] rodrigograca31 commented on #94
👍🏻

[2021-03-23 17:48] ensemblebd commented on #117
I've found that different versions of IOS 14+ yield different results.
But I have a solution. Am in progress working up a pull request after I clean it up and test more...
I'm changing the code to give cordova's javascript a param (you) - the ability to control which approach to use. Instead of using ios version detection.
That way if one fails, you can have your code call the other at will.

1. A

[2021-03-23 19:59] ensemblebd commented on #117
if you wish to use it without pull request being processed, you can.
But is at your own risk, it's working great for me, but recommend thoroughly reviewing the Objective C code to ensure it meets your own standards and is bug free to your view.

cordova plugin add https://github.com/ensemblebd/InstagramPlugin#5581fa220beda5071898ead5bc8e4d5423fa0b4b

[2021-04-02 11:16] rodrigograca31 commented on #117
I just merged this and release as 0.6.2.
Hopefully solves the problem.

[2021-05-27 11:16] dharmikp95 opened #121 "Android API 30 - Instagram not installed"
-Plugin working in API 29
-After updating API level to 30 plugin stop working in android(no issues in IOS)

[2021-05-27 12:50] dharmikp95 commented on #121
Instagram.isInstalled no longer work in android 11
https://developer.android.com/about/versions/11/privacy/package-visibility

[2021-05-30 11:25] rodrigograca31 commented on #121
🤔🤔

So if you target 11 it cannot see instagram installed? if I remember correctly you have to justify your use to the store to let it see it, right?

[2021-05-30 14:50] dharmikp95 commented on #121
Yes

[2021-05-30 22:22] rodrigograca31 commented on #121
Then, sorry to say but I think "thats your problem" not the plugins problem.

[2021-05-30 22:22] #121 closed, assigned to nobody

[2021-08-17 07:07] Saqib92 commented on #110
update?